.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #242F9B;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #9BA3EB;
}

p {
  font-size: 2rem;
  color: #9BA3EB;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.rollTheDice {
  -webkit-border-radius: 21;
  -moz-border-radius: 21;
  border-radius: 21px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 23px;
  background: #d93434;
  padding: 10px 10px 10px 15px;
  text-decoration: none;
  position: absolute;
  left: 50%;
  bottom: 45%;
}

.rollTheDice:hover {
  background: #9BA3EB;
  text-decoration: none;
}         

